
body{
	background: #f3f5f9;
   
}
.wrapper{
	position: relative;
}
.dash{
	/* margin-left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 150px; */
	/* border: 5px solid red; */
	/* margin-left: 25px; */
	margin-top: 10px;
	justify-content: space-around;
	

	
}
.load{
	display: flex;
	justify-content: space-around;
	justify-items: center;
	margin-top: 250px;

}
.col-lg-2{
	padding-right: 0;
    padding-left: 0;
}

.addven{
	margin-left: 5px;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.sidebar{
	position: fixed;
	width: 230px;
	height: 100vh;
	background: rgb(228, 228, 228);
    padding-top: 5px;
}
/* .sbtn{
	padding-left: 60px;
} */
.txt{
	text-align: center;
	color: #1976D2;
}
.gpbt{
	
display: flex;
flex-direction: column;
gap: 2px;
}
.sbtn:hover{
	background-color: rgb(96, 129, 221)!important;
	color:white !important;
}
.text-muted{
	color: #23e7dd!important;
    padding-left: 15px;
}
ul{
	padding-bottom: 20px; 
}
ul li a img{
	background: #66BB6A;
	top: 0;
	border: none;
	width: 20px;
}
 .sidebar ul li{
	padding: 15px;	
}
.sidebar ul li a{
	color: rgb(173, 169, 169);
	display: block;
}
.sidebar ul li a .fas{
	width: 30px;
	color: #31ffee!important;
}
i.fas.fa-home:hover,
i.fas.fa-file-invoice:hover,
i.fas.fa-video:hover,
i.fas.fa-id-badge:hover,
i.fas.fa-external-link-alt:hover,
i.fas.fa-code:hover,
i.far.fa-calendar-alt:hover,
i.far.fa-credit-card:hover{
	color: #304FFE!important;
} 
.sidebar ul li a .far{
	width: 30px;
	color: #bdb8d7!important;
}
.sidebar ul li:hover{
	background: #000;
}
.sidebar ul li a:hover{
	text-decoration: none;
}
.alg{
	margin-right: auto!important;
}