body {
  /* text-align: center; */
  background-color: white;
}
.App{
  background-color: white;
}

.tool{
  display: flex;
}
.head{
  display: flex;
}
.log{
  display: flex;
margin-left:auto;
}

.user{
  display: flex;
  flex-direction: column;
  gap:20px;

}
.lay{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 500px;
  margin: auto;
  background-color: white;
}
.pass{
  display: flex;
}
.cent{
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  max-width:550px;
  width: 450px;

 
  
}
.lgbtn{
text-decoration: none;
padding-bottom: 20px;
}
.header{
  display: flex;
  justify-content: center;
  justify-items: center;
}